---
title: Home
description: "Travel Safe Travel Smart supports communities across the UK by promoting railway safety, preventing harm and strengthening local partnerships."
lastUpdated: 2025-01-01
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
layout: layouts/base.njk
useMap: true
---


{# ---- Homepage content ---- #}


{% from "components/feature/macro.njk" import feature %}
{% from "components/sectionHeader/macro.njk" import sectionHeader %}
{% from "components/button/macro.njk" import button %}
{% from "components/hero/macro.njk" import hero %}
{% from "components/newsCardList/macro.njk" import newsCardList %}


{{ hero({
   kicker: metadata.title,
  title:  metadata.description,
  summary: metadata.summary,
  primaryBtn: { label: "What We Do", url: "/what-we-do/" },
  secondaryBtn: { label: "Find Your Local Community Safety Manager", url: "#csm-finder-heading" }
}) }}

{# ---- What We Do (features grid) ---- #}

<section class="o-section u-bg-cream">
  <div class="o-container">
    {{ sectionHeader({
      kicker: "Community Safety Initiatives",
      title: "What We Do",
      description: "Community Safety Managers work at the heart of local communities, delivering practical support and coordinated safety initiatives.",
      isCentered: true
    }) }}

    <div class="o-grid o-grid--3">
      {# see _data/whatWeDo.js #}
      {%- for item in whatWeDo %}
        {{ feature({
            icon: item.icon,
            title: item.title,
            text: item.excerpt,
            linkUrl: "/what-we-do/#" + item.slug,
            linkText: "Learn more"
          }) }}
      {%- endfor %}
    </div>

  </div>
</section>

 

{# ---- CSM Finder ---- #}

{% include "partials/csm-finder.njk" %}



{# ---- Latest News ---- #}

<section class="o-section">
  <div class="o-container">
    {{ sectionHeader({
      kicker: "Latest",
      title: "News & Updates",
      description: "Keep up to date with community safety activity across the network."
    }) }}


    {% set posts = collections.posts | reverse  %}
    {% set postsList = posts.slice(0,3) %}
    {{ newsCardList({posts: postsList}) }}
    
    <div class="u-text-center u-mt-8">      
      {{ button({ label: "View all news", url: "news.njk", style: "outline" }) }}
    </div>
  </div>
</section>
