---
title: News & Updates
description: "Keep up to date with community safety activity, partnership news and events across the network."
kicker: Latest
lastUpdated: 2026-03-26
layout: layouts/page-full.njk
eleventyNavigation:
  key: News & Updates
  order: 4
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
permalink: "news/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% from "components/newsList/macro.njk" import newsList %}
{% from "components/newsCardList/macro.njk" import newsCardList %}
{% from "components/pagination/macro.njk" import pagination as paginationMacro %}



{% if pagination.pageNumber == 0 %}

{% set firstFour = posts.slice(0,4) %}
{% set remainingPosts = posts.slice(4) %}

<section class="o-section">
  <div class="o-container">
    {{ newsCardList({posts: firstFour, featured: true}) }}
  </div>
</section>
<section class="o-section u-bg-cream">
  {# <div class="o-container">
    {{ newsCardList({posts: remainingPosts}) }}
  </div> #}
  <div class="o-container o-container--md">
    {{ newsList({posts: remainingPosts}) }}
  </div>
</section>
<section class="o-section o-section--sm">
  <div class="o-container">
    {{ paginationMacro(pagination) }} 
  </div>
</section>


{% else %}

<section class="o-section">
  <div class="o-container">
    {{ newsCardList({posts: posts}) }}
    {{ paginationMacro(pagination) }} 
  </div>
</section>


{% endif %}


  {# {{ newsList({posts: remainingPostsList}) }} #}



{# ---- Follow & Subscribe ---- #}

{% include "partials/follow-us.njk" %}