---
title: What we do
description: "Community Safety Managers deliver practical support and coordinated safety initiatives at the heart of local communities."
kicker: Our Work
lastUpdated: 2026-03-26
layout: layouts/page-full.njk
eleventyNavigation:
  key: What we do
  order: 3
primaryBtn:
  label: Find your local Community Safety Manager
  url: /contact/#csm-finder-heading
---

{# see _data/whatWeDo.js #}
{% include "partials/what-we-do.njk" %}