<style>{% include "_includes/components/newsListItem/style.css" %}</style>
{% from "components/tag/macro.njk" import tag %}
{% from "components/articleMeta/macro.njk" import articleMeta %}


<li class="c-news-list__item">
  <a class="c-news-list__link" href="#">
    {{ articleMeta({
      date: params.date,
      data: {
        category: params.category
      }
    }) }}
    <h3 class="c-news-list__title">{{ params.title }}</h3>
    <p class="c-news-list__excerpt">{{ params.description }}</p>
  </a>
</li>