<style>{% include "_includes/components/skipLink/style.css" %}</style>
<a class="c-skip-link" id="skip-link" href="{{ params.href | default('#main') }}">{{ params.text | default('Skip to main content') }}</a>
