---
layout: layouts/base.njk
---


{# ---- Breadcrumb ---- #}

{% from "components/breadcrumbs/macro.njk" import breadcrumbs %}
{{ breadcrumbs([
  { label: "Home", url: "/" },
  { label: title }
]) }}


{# ---- Hero ---- #}
{% from "components/hero/macro.njk" import hero %}
{{ hero({
  kicker: kicker | default(null),
  title:  title,
  summary: description | default(null),
  compact: true,
  primaryBtn: primaryBtn | default(null),
  secondaryBtn: secondaryBtn | default(null)
}) }}

{{ content | safe }}
