---
layout: layouts/base.njk
---

{% from "components/tag/macro.njk" import tag as tag_macro %}
{% from "components/button/macro.njk" import button %}
{% from "components/tag/macro.njk" import tag %}

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

{% set kicker = post.data.category | capitalize if post.data.category else "News" %}

{# ---- Breadcrumb ---- #}

{% from "components/breadcrumbs/macro.njk" import breadcrumbs %}
{{ breadcrumbs([
  { label: "Home", url: "/" },
  { label: "News", url: "/news/" },
  { label: title }
]) }}


{# ---- Hero ---- #}
{% from "components/hero/macro.njk" import hero %}
{{ hero({
  kicker: kicker | default(null),
  title:  title,
  summary: description | default(null),
  compact: true,
  primaryBtn: primaryBtn | default(null),
  secondaryBtn: secondaryBtn | default(null)
}) }}


{# ---- Look up author ---- #}

{# {%- set author = null %}
{%- for person in people %}
  {%- if person.id == article.author %}
    {%- set author = person %}
  {%- endif %}
{%- endfor %} #}



{# ---- Article ---- #}

<article class="o-section">
  <div class="o-container o-container--md">

    {# ---- Meta ---- #}
    {% from "components/articleMeta/macro.njk" import articleMeta %}
    {{ articleMeta({ 
      date: page.date,
      data: {
        authorData: authorData,
        category: category,
        featured: featured,
        readingTime: readingTime
      }
    }) }}

      

    {# ---- Body ---- #}
    <div class="o-prose">
      {# <p class="u-text-lg">{{ article.excerpt }}</p> #}
      {{ content | safe }}      
    </div>




  

    {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
    <ul class="o-cluster u-mt-12" style="justify-content: space-between;">
      <div>
      {%- if previousPost %}&larr; Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
      </div>
      <div style="text-align: right;">
      {%- if nextPost %}Next &rarr;<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
      </div>
    </ul>
    {%- endif %}
    {%- endif %}


      {# ---- Back link ---- #}
    <div class="u-mt-12 u-text-center">
      {{ button({ label: "Back to all news", url: "news.njk", style: "outline" }) }}
    </div>



  </div>
</article>